body
{
  font-family: "Montserrat", sans-serif;
  background-color: rgb(246, 227, 180);
}


#Artwork
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

#Title
{
 text-align: center;
 font-family: sans-serif;
 font-size: 60px;
color: rgb(28, 41, 96);
 padding: 10px;
}

#Author
{
 text-align: center;
 font-family: sans-serif;
 font-size: 30px;
 color: rgb(28, 41, 96);
}

#Year
{

 text-align: center;
 font-family: sans-serif;
 font-size: 30px;
 color: rgb(28, 41, 96);
}

#Description
{
 display: inline-block;
 padding-left: 30em;
 padding-right: 30em;
 padding-bottom: 1em;
 text-align: center;
 font-family: sans-serif;
 font-size: 25px;
 color: rgb(176, 99, 50);
}

button
{
  background:rgb(28, 41, 96);
  color:white;
  position:relative;
  height:60px;
  font-size:30px;
  padding:0 2em;

}

.submit
{
    text-align: center;
    padding: 30px;
}
